<div style="width: 1050px; margin: 0 auto;">
    <h3 class=" p-0 mt-5" style="margin-left: -15px;">SERVIÇOS</h3>
    <div class="row justify-content-between mt-4">
        <div>
            <app-analytics subTitulo="ABERTOS" width="250">234</app-analytics>
        </div>
        <div>
            <app-analytics subTitulo="CANCELADOS" width="250">1.989</app-analytics>
        </div>
        <div>
            <app-analytics subTitulo="CONCLUÍDOS" width="250">9.999</app-analytics>
        </div>
        <div>
            <app-analytics subTitulo="COM SINDICÂNCIA" width="250">40</app-analytics>
        </div>
    </div>
</div>
