<div style="width: 1050px; margin: 0 auto;">
    <h3 class=" p-0 mt-4" style="margin-left: -15px;">SALVADOS</h3>
    <div class="row justify-content-between mt-4">
        <div>
            <app-analytics subTitulo="ABERTOS" width="500">23</app-analytics>
        </div>
        <div>
            <app-analytics subTitulo="RESULTADO VENDA" width="541">+ 45%</app-analytics>
        </div>
        <div class="mt-4 mb-5">
            <app-analytics subTitulo="VALORES OFERTADOS" width="500">R$ 445.987,45</app-analytics>
        </div>
        <div class="mt-4 mb-5">
            <app-analytics subTitulo="TOTAL VENDA" width="541">R$ 445.987,45</app-analytics>
        </div>
    </div>
</div>
