<header class="container-fluid">
    <div class="row align-items-center justify-content-center">
        <ul class="col-10 row m-0 justify-content-between">
            <li class=" col-6 row align-items-center m-0 justify-content-start ">
                <img class="m-0" src="../../../assets/logo.png ">
                <h3 class="m-0">Controle de Perdas</h3>
            </li>
            <li class="col-4 row align-items-center justify-content-end">
                <img class="m-0 mr-2" src="../../../assets/avatar.png ">
                <h6 class="m-0 mr-3">Everton Preisler</h6>
                <img class="m-0" src="../../../assets/sair.png ">
            </li>
        </ul>
    </div>
    <div>
        <ul class="row m-auto col-10 m-0 p-0">

            <li routerLink="dashboard" routerLinkActive="active" class="col m-0 row align-items-center justify-content-center "><span>DASHBOARD</span></li>
            <li class="col m-0 row align-items-center justify-content-center "><span>SERVIÇOS</span></li>
            <li class="col m-0 row align-items-center justify-content-center "><span>TFA</span></li>
            <li class="col m-0 row align-items-center justify-content-center "><span>ACIDENTES</span></li>
            <li class="col m-0 row align-items-center justify-content-center "><span>SALVADOS</span></li>
            <li class="col m-0 row align-items-center justify-content-center "><span>INFORMAÇÕES</span></li>
            <li class="col m-0 row align-items-center justify-content-center "><span>CONFIGURAÇÕES</span></li>
        </ul>
    </div>
</header>
