label {
    display: block;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #343434;
}

.radio {
    padding: 3px;
    padding-left: 0;
    padding-top: 20px;
    width: 251px;
    border: 2px solid #fbaf76;
    border-left-width: 8px;
    margin-left: -15px;
    mat-radio-button {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.57;
        letter-spacing: normal;
        color: #343434;
    }
}

.triangulo {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fbaf76;
}
