<div style="width: 1050px; margin: 0 auto;">
    <div class="row justify-content-between mt-4">
        <h3 class=" p-0 ">NOVO CARREGAMENTO</h3>
        <h3 style="position: relative;left:-115px">PROVISÃO</h3>
    </div>
    <div class="row justify-content-between mt-4">
        <div>
            <app-analytics subTitulo="PESO LÍQUIDO" width="385">999.444,00 ton</app-analytics>
        </div>
        <div>
            <app-analytics subTitulo="INDENIZAÇÕES EVITADAS" width="411">9.999.999,99</app-analytics>
        </div>
        <div>
            <app-analytics subTitulo="ANDAMENTO" width="250">40</app-analytics>
        </div>
    </div>
</div>
